<!DOCTYPE html>
<html lang="en" ng-app="main">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../angular.js"></script>
    <script src="bootstrap.js"></script>
    <script src="name-controller.js"></script>
    <script src="time-controller.js"></script>

    <title>Hello Controllers!</title>
</head>

<body>
    <div ng-controller="timeController">
        <h2>Time Controller</h2>
        <p>The time is {{ time }}</p>
        <button ng-click="updateTime()">Update</button>
    </div>

    <div ng-controller="nameController">
        <h2>Name Controller</h2>
        <p>Your name is {{ name }}!</p>
        <button ng-click="flipName()">Flip!</button>
    </div>
</body>

</html>