<!DOCTYPE html>
<html ng-app="dataApp">
	<head>
		<title>Clock!</title>
		<script src="../../angular.js"></script>
		<script src="bootstrap.js"></script>
		<script src="parentCtrl.js"></script>
		<script src="Mobile.js"></script>
	</head>

	<body>
		<div ng-controller="parentCtrl">
			<table border="1">
				<tr style="background:lightyellow ; padding: 10px">
					<th>#</th>
					<th>
						<button ng-click="updateOrder('model')">MODEL</button>
					</th>
					<th>
						<button ng-click="updateOrder('color')">COLOR</button>
					</th>
					<th>
						<button ng-click="updateOrder('price')">PRICE</button>
					</th>
					<th></th>
				</tr>
				<tr ng-repeat="m in devices | orderBy:order">
					<td>{{ $index }}</td>
					<td ng-if="selected !== $index">{{ m.model }}</td>
					<td ng-if="selected === $index">
						<input ng-model="m.model" type="text" />
					</td>
					<td ng-if="selected !== $index">{{ m.color }}</td>
					<td ng-if="selected === $index">
						<input ng-model="m.color" type="text" />
					</td>
					<td ng-if="selected !== $index">{{ m.price }}</td>
					<td ng-if="selected === $index">
						<input ng-model="m.price" type="number" />
					</td>
					<td><button ng-click="selectMobile($index)">✎</button></td>
					<td><button ng-click="removeMobile($index)">X</button></td>
				</tr>
			</table>

			<div>
				<p>MODEL = <input ng-model="model" type="text" /></p>
				<p>COLOR = <input type="text" ng-model="color" /></p>
				<p>PRICE = <input type="number" ng-model="price" /></p>
			</div>
			<button ng-click="addMobile()">Add Device</button>
			<p>ID = <input type="text" ng-model="id" /></p>
			<button ng-click="updateMobile()">Update Device</button>
		</div>

		<div ng-controller="lengthCtrl">
			<p>The number of phones is: {{ devices.length }}</p>
		</div>

		<br />
	</body>
</html>
