<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>Ajax Fun</title>
		<script src="../../angular.js"></script>
		<script src="bootstrap.js"></script>
		<script src="controllers.js"></script>
		<script src="services.js"></script>
	</head>

	<body>
		<div ng-controller="tableCtrl">
			<h1>Posts N' Stuff</h1>
			<table border="1">
				<tr style="background:lightyellow ; padding: 10px">
					<th>ID</th>
					<th>User ID</th>
					<th>Title</th>
					<th>Body</th>
				</tr>
				<tr ng-repeat="p in posts">
					<td>{{ p.id }}</td>
					<td>{{ p.userId }}</td>
					<td>{{ p.title }}</td>
					<td>{{ p.body }}</td>
				</tr>
			</table>
		</div>
		<div ng-controller="selectCtrl">
			<h1>Select A Post!</h1>
			<p>
				ID: <input type="number" ng-model="selectedId" />
				<button ng-click="updateSelection()">Fetch the post!</button>
			</p>
			<h3>Selected Post:</h3>
			<h4 ng-if="!valid">Please select a valid post ID.</h4>
			<div ng-if="valid">
				<p><b>ID:</b> {{ id }}</p>
				<p><b>User ID:</b> {{ userId }}</p>
				<p><b>Title:</b> {{ title }}</p>
				<p><b>Body:</b> {{ body }}</p>
			</div>
		</div>
	</body>
</html>
